@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-btn-color: #284b63;
  --secondary-btn-color: #004e98;
  --primary-text-color: rgba(255, 255, 255, 1);
  --font-size-lg: 3rem;
  --font-size-md: 2rem;
  --font-size-sm: 1rem;
  --color-primary-text: rgba(255, 255, 255, 1);
  --head-font: "Roboto Mono", monospace;
  --text-font: "Roboto", sans-serif;
  --text-jakarta: "Plus Jakarta Sans", sans-serif;
}

#root {
  font-family: var(--text-font);
}
