@tailwind base;
@tailwind components;
@tailwind utilities;





:root{
  --primary-btn-color:#284B63;
  --secondary-btn-color:#004E98;
  --primary-text-color:rgba(255, 255, 255, 1);
  --font-size-lg:3rem;
  --font-size-lg:2rem;
  --font-size-lg:1rem;
  --color-primary-text: rgba(255, 255, 255, 1);
}

