@tailwind base;
@tailwind components;
@tailwind utilities;





:root{
  --primary-btn-color:#284B63;
  --secondary-btn-color:#004E98;
  --primary-text-color:white;
  --font-size-lg:3rem;
  --font-size-lg:2rem;
  --font-size-lg:1rem;
}

